[Unit]
Description=Project Argo graphical deployment
After=default.target
PartOf=graphical-session.target
Wants=argo-projectiond.service argo-app.service

[Install]
WantedBy=graphical-session.target
